* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    list-style: none;
    text-decoration: none;

}


:root {
    font-size: 62.5%;
    font-family: "Raleway", sans-serif;
    font-weight: 400;
    --black: #464646;
    --white: #FFFFFF;
    --whiteLight: #F5F5F5;
    --mediumGray: #A2A2A2;
    --lightGray: #C8C8C8;
    --lightblue: #EAF2FD;
    --extralightGray: #EDEDED;
    --blue: #2A7AE4;
}

body {
    background-color: var(--extralightGray);
}

/*FONTS

.raleway-<uniquifier> {
  font-family: "Raleway", sans-serif;
  font-optical-sizing: auto;
  font-weight: <weight>;
  font-style: normal;
}

*/

/*=======================HEADER=======================*/
.header__container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    font-size: 1.6rem;
    padding-block: 3.2rem;
    padding-inline: 15.2rem;
}

.header__container .header__logoApresentation {
    display: flex;
    align-items: center;
    gap: 1rem;
    font-weight: bold;

}

.header__container .header__navigation {
    display: flex;
    gap: 3.2rem;
}

.header__navigation .header__emailContact {
    font-weight: bold;
    color: var(--black);
}

.header__container .header__navigation .header__navigation__list {
    display: flex;
    flex-direction: row;
    gap: 2rem;

    color: var(--mediumGray);
}

.header__navigation__list li a {
    color: var(--black);
    font-weight: 600;
}

.header__navigation__list li a:hover {
    font-weight: bold;
}

/*=======================SECTION-APRESENTATION=======================*/
.section__container__apresentation {
    font-weight: bold;
    padding-block: 16.1rem;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-inline: 15.2rem;
}

.section__container__apresentation .section__content {
    width: 50%;
}

.section__container__apresentation .section__titleApresentation {
    font-size: 5.2rem;
}

.section__container__apresentation .section__paragraphApresentation {
    font-size: 2.2rem;
    color: #464646;
    padding-block: 2.4rem;

}

.section__sociallinks {
    display: flex;
    align-items: center;
}

.section__sociallinks .section__socialinks--links a {
    font-size: 1.6rem;
    color: #464646;
}

.section__sociallinks img {
    margin-right: 2rem;
}

.myApresentationImage {
    border-radius: 10rem;
    width: 50rem;
    height: 50rem;
}

/*=======================SECTION-ABOUTME=======================*/
.section__container__aboutMe {
    background-color: var(--lightblue);
    padding-inline: 15.2rem;
    padding-block: 6.2rem;
}

.section__container__aboutMe .section__aboutMe__boxLimitator {
    width: 60%;
}

.section__container__aboutMe .section__aboutMe__title {
    font-size: 3.2rem;
    font-weight: bold;
    margin-bottom: 1.6rem;
}

.section__container__aboutMe .section__aboutMe__paragraph {
    font-size: 1.6rem;
}

/*=======================SECTION-SKILLS=======================*/
.section__container__skills {
    padding-inline: 15.2rem;
    text-align: center;
    margin-top: 7rem;
    margin-bottom: 8rem;
}

.section__container__skills .section__skills__title {
    font-size: 3.2rem;
    font-weight: bold;
    padding-bottom: 3.2rem;
}

.section__container__skills .section__skills_limitatorBox {
    display: flex;
    flex-wrap: wrap;
    text-align: left;
    align-items: center;
    justify-content: center;
    gap: 1.6rem;

}

.section__container__skills .section__skills_limitatorBox .section__skill--itens {
    background-color: var(--white);
    width: 30.5rem;
    height: 16.7rem;


}

.section__skills_limitatorBox .section__skill--itens img {
    padding: 9.4rem 13.6rem 0.8rem 1.6rem;
    height: 13.2rem;
}

.section__skills_limitatorBox .section__skill--itens p {
    font-size: 1.6rem;
    font-weight: bold;
    padding: 0rem 0rem 1.6rem 1.6rem;

}

/*=======================SECTION-HOBBIES=======================*/
.section__container__hobbies {
    padding-inline: 15.2rem;
    text-align: center;
    margin-top: 7rem;
}

.section__container__hobbies .section__hobbies__title {
    font-size: 3.2rem;
    font-weight: bold;
    padding-bottom: 3.2rem;
}

.section__container__hobbies .section__hobbies_limitatorBox {
    display: flex;
    flex-wrap: wrap;
    text-align: left;
    align-items: center;
    justify-content: center;
    gap: 1.6rem;

}

.section__container__hobbies .section__hobbies_limitatorBox .section__hobbies--itens {
    background-color: var(--white);
    width: 30.5rem;
    height: 16.7rem;


}

.section__hobbies_limitatorBox .section__hobbies--itens img {
    padding: 9.4rem 13.6rem 0.8rem 1.6rem;
    height: 13.2rem;
}

.section__hobbies_limitatorBox .section__hobbies--itens p {
    font-size: 1.6rem;
    font-weight: bold;
    padding: 0rem 0rem 1.6rem 1.6rem;

}

/*=======================SECTION-EXPERIENCE=======================*/
.section__container__experience {
    padding-inline: 15.2rem;
    text-align: center;
    margin-top: 7rem;
}

.section__container__experience .section__experience__title {
    font-size: 3.2rem;
    font-weight: bold;
    padding-bottom: 3.2rem;
}

.section__container__experience .section__experience__itens {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.section__experience__item .experience__iten__title {
    font-size: 2.2rem;
    font-weight: bold;
    margin-bottom: 0.8rem;
}

.section__experience__item .experience__iten__paragraph {
    font-size: 1.6rem;
    margin-bottom: 0.8rem;

}

.section__experience__item .experience__logoTechUsed {
    margin-bottom: 0.8rem;
}

.section__container__experience .section__experience__itens .experience__item__image {
    width: 70%;
}

.section__experience__item .experience__iten__links {
    display: flex;
    justify-content: center;
    gap: 2rem;

}

.section__experience__item .experience__iten__links a {
    font-size: 1.6rem;
    padding: 1.6rem;
    color: var(--black);
}

.section__experience__item .experience__iten__links a:first-child {
    border: solid 1px var(--blue);
}

.section__experience__item .experience__iten__links a:last-child {
    background-color: #2A7AE4;
    color: var(--white);
    border: solid 1px var(--blue);
}

.section__experience__item .experience__iten__links a:first-child:hover {
    background-color: #2A7AE4;
    color: var(--white);
}

.section__experience__item .experience__iten__links a:last-child:hover {
    color: var(--black);
    background-color: transparent;
}

/*=======================FOOTER=======================*/
.footer_container {
    background-color: var(--lightblue);
    display: flex;
    justify-content: space-between;
    margin-top: 3.2rem;
    padding: 13rem 15.2rem 6.5rem 15.2rem;

}

.footer_container .footer__contact .footer__contactForm {
    display: flex;
    flex-direction: column;

}

.footer_container .footer__contact .footer__title {
    font-size: 3.2rem;
    font-weight: bold;
    color: var(--black);
    margin-bottom: 0.8rem;
}

.footer_container .footer__contact .footer__paragraph {
    font-size: 1.6rem;
    font-weight: 400;
    color: var(--black);

}

.footer__contact .footer__contactForm {
    margin-top: 3.2rem;
    position: relative;
}

.footer__contact .footer__contactForm .footer__input {
    height: 5rem;
    font-size: 1.6rem;
    font-weight: 400;
    color: var(--black);
    padding-left: 1rem;
    margin-bottom: 3.2rem;
    border: transparent;
    box-shadow: 0px 2px var(--mediumGray);
    font-family: "Raleway", sans-serif;
}

.footer__contact .footer__contactForm .footer__input:focus{
    box-shadow: 0px 2px var(--blue);
    outline: 0;
}

.footer__contact .footer__contactForm #name, #email{
    padding-top: 1.5rem;
}

.footer__contact .footer__contactForm label{
    color: var(--lightGray);
    position: absolute;
    margin-left: 1rem;
   
}

.footer__contact .footer__contactForm label:first-child{
    margin-top: 0.5rem;
}

.footer__contact .footer__contactForm label:last-of-type{
    margin-top: 8.5rem;
}

.footer__contact .footer__contactForm .active {
    color: var(--blue);
}

.footer__contact .footer__contactForm span {
    color: red;
    font-size: 1.2rem;
    font-weight: 400;
    margin-bottom: 1rem;
    display: none;
}

.footer__contact .footer__contactForm .footer__textArea__message {
    height: 20rem;
    font-size: 1.6rem;
    font-weight: 400;
    color: var(--black);
    padding-left: 1rem;
    margin-bottom: 3.2rem;
    resize: none;
    padding-top: 2rem;
    border: transparent;
    box-shadow: 0px 2px var(--mediumGray);
    font-family: "Raleway", sans-serif;
}

.footer__contact .footer__contactForm .footer__textArea__message:focus{
    box-shadow: 0px 2px var(--blue);
    outline: 0;
}

.footer__contact .footer__contactForm .footer__contactForm__button {
    width: 16.5rem;
    height: 5.1rem;
    background-color: var(--blue);
    color: var(--white);
    cursor: pointer;
    border: none;
}

.footer__contact .footer__contactForm .footer__contactForm__button:hover {
    background-color: var(--white);
    color: var(--black);
    border: solid 1px var(--lightGray);
}

/*LEGAL*/
.refLegal{
    display: flex;
    background-color: var(--lightblue);
    flex-direction: row;
    justify-content: center;
    align-items: center;
}



@media(max-width:1130px) {

    /*=======================HEADER=======================*/
    .header__container {
        font-size: 1.4rem;
        padding-inline: 7rem;
    }

    .header__container .header__navigation .header__navigation__list {
        display: none;
    }

    /*=======================SECTION=======================*/
    .section__container__apresentation .section__content {
        width: 75%;
    }

    .section__container__apresentation .section__titleApresentation {
        font-size: 2.2rem;
    }

    .myApresentationImage {
        border-radius: 10rem;
        width: 14.6rem;
        height: 14.6rem;
    }

    /*=======================SECTION-APRESENTATION=======================*/
    .section__container__apresentation {
        padding-inline: 7rem;
    }

    /*=======================SECTION-ABOUTME=======================*/
    .section__container__aboutMe {
        padding-inline: 7rem;
    }

    /*=======================SECTION-SKILLS=======================*/
    .section__container__skills {
        padding-inline: 7rem;
    }

     /*=======================SECTION-HOBBIES=======================*/
     .section__container__hobbies {
        padding-inline: 7rem;
    }

    /*=======================SECTION-EXPERIENCE=======================*/
    .section__container__experience .section__experience__itens {
        flex-direction: column;
    }

    .section__experience__item{
        margin-top: 3rem;
    }

    .section__container__experience .section__experience__itens .experience__item__image {
        width: 100%;
    }

    /*=======================FOOTER=======================*/
    .footer_container {
        padding-inline: 7rem;
        flex-direction: column;
    }

    .footer_container .footer__imageContact {
        display: none;
    }
}


@media(max-width:850px) {

    /*=======================HEADER=======================*/
    .header__container {
        padding-inline: 1.6rem;
    }

    /*=======================SECTION-APRESENTATION=======================*/
    .section__container__apresentation {
            display: flex;
            font-weight: bold;
            flex-direction: column-reverse;
            justify-content: start;
            align-items: start;
            padding-inline: 1.6rem;
    
    }
    
    .section__container__apresentation .section__content {
            width: 100%;
    }
    
    .section__container__apresentation .section__titleApresentation {
            font-size: 2.2rem;
            margin-top: 2rem;
    }
    
    .section__container__apresentation .section__paragraphApresentation {
            font-size: 1.4rem;
    }
    
    .section__sociallinks .section__socialinks--links a {
            font-size: 1.2rem;
            color: #464646;
    }

    /*=======================SECTION-ABOUTME=======================*/
    .section__container__aboutMe {
        padding-inline: 1.6rem;
    }

    .section__container__aboutMe .section__aboutMe__boxLimitator {
        width: 100%;
    }

    /*=======================SECTION-SKILLS=======================*/
    .section__container__skills {
        padding-inline: 1.6rem;
    }

    /*=======================SECTION-SKILLS=======================*/
    .section__container__hobbies {
        padding-inline: 1.6rem;
    }

    /*=======================SECTION-EXPERIENCE=======================*/
    .section__container__experience {
        padding-inline: 1.6rem;
    }

    /*=======================FOOTER=======================*/
    .footer_container {
        background-color: var(--lightblue);
        display: flex;
        justify-content: space-between;
        margin-top: 3.2rem;
        padding: 13rem 1.6rem 6.5rem 1.6rem;

    }
}